@import "./styles/fonts.css";
@import "./styles/variables.css";
@import "./styles/standard.css";
@import "./styles/utilities.css";

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-green);
}

.logo {
    width: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;

    gap: var(--spacing-xl);

    padding-bottom: 85px;
}

.hero-section {
    background-image: url("./assets/img/cappadocia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 450px;
    width: 100%;
}

.hero-section-box {
    height: 100%;
    background-color: var(--primary-yellow);
    position: relative;

    padding: var(--spacing-m);
}

.hero-section-text-wrapper {
    position: absolute;
    top: 25%;
}

.hero-section-text-wrapper h2 {
    color: var(--secondary-brown);
}

.hero-section-text-wrapper p {
    width: 22ch;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--spacing-m);

    padding-inline: var(--spacing-m);
}

.section-header {
    display: flex;
    gap: var(--spacing-s);
}

.section-header img {
    width: 32px;
}

.content-section {
    padding-block: var(--spacing-l)
}

.highlights-slider {
    position: relative;

    height: 450px;
    width: 100%;

    border-top-right-radius: 100px;

    overflow: hidden;
}

.highlights-slider img {
    height: 100%;
    object-fit: cover;
}

.slider-text-wrapper {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;

    gap: var(--spacing-s);
    padding: var(--spacing-m);

    color: white;

    backdrop-filter: blur(12px);

    border-left: 1px solid white;
    border-right: 1px solid white;
}

.slider-text-wrapper h4 {
    color: white;
}

.slider-input-wrapper {
    display: flex;
    gap: var(--spacing-m);

    position: absolute;
    bottom: var(--spacing-m);
    left: 50%;
    transform: translateX(-50%);
}

.slider-text-wrapper p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.slider-input-radio {
    appearance: none;

    height: 16px;
    width: 16px;

    background-color: white;

    border-radius: var(--radius-round);
}

.slider-input-radio:checked {
    background-color: var(--primary-yellow);
    width: 24px;
    border-radius: var(--radius-capsule);
}





.mobile-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;

    min-height: 85px;

    background-color: var(--primary-yellow);

    padding: var(--spacing-l);
}

.mobile-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

@media screen and (min-width: 768px) {
    main {
        padding-bottom: unset;
    }

    .mobile-nav {
        display: none;
    }
}