@import "./styles/fonts.css";
@import "./styles/variables.css";
@import "./styles/standard.css";
@import "./styles/utilities.css";

.site-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-l);

    background-color: var(--primary-green);
}

.main-nav ul {
    display: flex;
    gap: var(--spacing-xl);
    list-style: none;
    font-family: var(--font-secondary);
}

.main-nav a {
    color: var(--secondary-yellow);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-highlights:hover {
    background-image: url(./assets/svg/underline1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.nav-faq:hover {
    background-image: url(./assets/svg/underline2.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-contact:hover {
    background-image: url(./assets/svg/underline3.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo {
    width: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;

    gap: var(--spacing-2xl);
}

.hero-section {
    background-image: url("./assets/img/cappadocia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 450px;
    width: 100%;
}

.hero-section-box {
    height: 100%;
    background-color: var(--primary-yellow);
    position: relative;

    padding: var(--spacing-m);
}

.hero-section-text-wrapper {
    position: absolute;
    top: 25%;
}

.hero-section-text-wrapper h2 {
    color: var(--secondary-brown);
}

.hero-section-text-wrapper p {
    width: 22ch;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--spacing-xl);

    padding-inline: var(--spacing-m);

    width: 100%;
}

.subheadline {
    text-align: center;
    max-width: 70ch;
}

.section-header {
    display: flex;
    gap: var(--spacing-s);
}

.section-header img {
    width: 32px;
}

.highlights-slider {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 500px;
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 100px;
}

.slider-wrapper {
    display: flex;
    position: absolute;
    left: 0;
    width: 400%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.slider-element {
    position: relative;

    color: white;
    height: 100%;
    width: 100%;
}

.slider-element h4 {
    color: white;
}

.slider-text-wrapper {
    position: absolute;
    top: 100px;
    left: clamp(var(--spacing-m), 3vw, var(--spacing-xl));
    right: clamp(var(--spacing-m), 3vw, var(--spacing-xl));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    padding: var(--spacing-m);
    border-left: 1px solid white;
    border-right: 1px solid white;
    max-width: 720px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
}

.slider-text-wrapper p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.element-one {
    background: url(./assets/img/beaches.jpg) center / cover no-repeat;
}

.element-two {
    background: url(./assets/img/scandinavia.jpg) center / cover no-repeat;
}

.element-three {
    background: url(./assets/img/pattaya.jpg) center / cover no-repeat;
}

.element-four {
    background: url(./assets/img/fuji.jpg) center / cover no-repeat;
}

.slider-input-wrapper {
    display: flex;
    z-index: 2;
    padding-bottom: var(--spacing-m);
    gap: var(--spacing-m);
}

.slider-input-wrapper {
    display: flex;
    z-index: 2;
}

.slider-input-radio {
    appearance: none;

    height: 16px;
    width: 16px;

    background-color: white;

    border-radius: var(--radius-round);

    cursor: pointer;
}

.slider-input-radio:checked {
    background-color: var(--primary-yellow);
    width: 24px;
    border-radius: var(--radius-capsule);
}

.highlights-slider:has(input[value="one"]:checked) .slider-wrapper {
    transform: translateX(0);
}

.highlights-slider:has(input[value="two"]:checked) .slider-wrapper {
    transform: translateX(-25%);
}

.highlights-slider:has(input[value="three"]:checked) .slider-wrapper {
    transform: translateX(-50%);
}

.highlights-slider:has(input[value="four"]:checked) .slider-wrapper {
    transform: translateX(-75%);
}

.faq-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    width: 100%;
}

details {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-yellow);
    border-radius: var(--radius-s);
    color: var(--secondary-brown);
    padding: var(--spacing-s);
    cursor: pointer;
}

details>p {
    background-color: white;
    padding: var(--spacing-s);
    border-radius: var(--radius-s);
    margin-top: var(--spacing-s);
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    gap: var(--spacing-s);

    font-weight: bold;
}

.details-icon {
    min-width: 16px;
    min-height: 16px;
    transition: all 255ms ease-in-out;
}

details[open] .details-icon {
    transform: rotate(-180deg);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);

    width: 100%;
    padding-bottom: var(--spacing-xl);
}

.contact-form label {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    font-weight: bold;
}

.contact-form a {
    color: var(--primary-green);
    padding-inline: var(--spacing-s);
}

.contact-form p {
    font-weight: normal;
}

.button {
    background-color: var(--primary-green);
    color: var(--primary-yellow);
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    border: none;
    border-radius: var(--radius-capsule);
    padding-inline: var(--spacing-xl);
    padding-block: var(--spacing-s);
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 7px rgba(78, 164, 135, 0.07),
        0px 20px 27px rgba(78, 164, 135, 0.15);
    text-shadow: -4px 2px 2px rgba(0, 0, 0, 0.15);
}

.contact-form__button {
    align-self: center;
}

.contact-form:invalid .button:hover {
    box-shadow: none;
    text-shadow: none;
}

.contact-form:has(:invalid) .button {
    background-color: white;
    border: 1px solid var(--secondary-grey);
    color: var(--secondary-grey);
}

.contact-form-input {
    border: none;
    border-bottom: solid 1px var(--secondary-brown);
    color: var(--primary-green);
    padding: var(--spacing-xs);
}

.contact-form textarea {
    font-family: var(--font-primary);
}

.contact-form-row {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.contact-form-input:focus {
    outline: none;
}

.contact-form textarea {
    resize: none;
    min-height: 64px;
}

.contact-form-privacy-row {
    align-items: center;
    flex-direction: row !important;
}

.contact-form input[type="checkbox"] {
    appearance: none;
    border: 2px solid var(--secondary-brown);
    height: 20px;
    min-width: 20px;
    border-radius: 4px;
}

.contact-form input[type="checkbox"]:hover {
    cursor: pointer;
}

.contact-form input[type="checkbox"]:not(:checked):hover {
    background-color: var(--primary-yellow);
}

.contact-form input[type="checkbox"]:checked {
    border-color: var(--primary-green);
    background-image: url(./assets/svg/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-green);
}

.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-s);

    color: white;
    background-color: var(--primary-green);
}

.site-footer a {
    color: white;
}

.footer-wrapper-left {
    display: flex;
    gap: var(--spacing-xs);
}

.footer-wrapper-left-links {
    display: flex;
    flex-direction: row;
}

.footer-wrapper-left img {
    height: 20px;
    width: 20px;
}

.footer-wrapper-left p {
    display: flex;
    gap: var(--spacing-xs);
}

.footer-wrapper-right {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-s);
}

.mobile-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;

    min-height: 85px;

    background-color: var(--primary-yellow);

    padding: var(--spacing-l);
    z-index: 2;
}

.mobile-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

/* ================================ Blog Seite 1 ================================ */

.main-article {
    display: flex;
    flex-direction: column;
    padding-inline: var(--spacing-m);
    padding-block: var(--spacing-l);
    gap: var(--spacing-l);
}

.article-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.article-header__left-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.article-header-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.header-intro {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary-green);
}

.header-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-s);
}

.tag-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

.tag-wrapper img {
    width: 16px;
}

.card {
    padding: var(--spacing-m);
    border-radius: var(--radius-xl);
    background: color-mix(in srgb, var(--primary-green) 20%, transparent);
}

.author-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-s);
}

.author-card__avatar {
    border-radius: var(--radius-round);
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.author-card__identity {
    display: flex;
    flex-direction: column;
    font-family: var(--font-secondary);
}

.author-card__name {
    font-weight: bold;
}

.author-card__bio {
    max-width: 54ch;
}

.article-content {
    display: flex;
    flex-direction: column;
    padding-top: var(--spacing-l);
    gap: var(--spacing-l);
}

.article-content__ol-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: var(--spacing-l);
    gap: var(--spacing-l);
}

.article-content__ul-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: var(--spacing-l);
    gap: var(--spacing-l);
}

.article-content__ul-wrapper li {
    max-width: 100ch;
}

li::marker {
    font-size: 0.5rem;
}

/* Article Slider - Mobile */

.article-slider-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    gap: var(--spacing-l);
}

.article-slider-mobile__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
    height: 350px;
    transition: transform 250ms ease-in-out;
}

.article-slider-mobile__image {
    height: 80%;
    aspect-ratio: 3/5;
    object-fit: cover;
    box-shadow: 0px 4px 3px rgba(3, 7, 18, 0.03),
        0px 14px 11px rgba(3, 7, 18, 0.05),
        0px 32px 24px rgba(3, 7, 18, 0.08);
    border-radius: var(--radius-s);

    transform: perspective(250px) rotateY(20deg);

    transition: transform 250ms ease-in-out;
}

.article-slider-mobile__input-wrapper {
    display: flex;
    z-index: 2;
    padding-bottom: var(--spacing-m);
    gap: var(--spacing-s);
}

.article-slider-mobile__input {
    appearance: none;

    height: 16px;
    width: 16px;

    background-color: color-mix(in srgb, var(--primary-green) 20%, transparent);

    border-radius: var(--radius-round);

    cursor: pointer;
}

.article-slider-mobile__input:checked {
    background-color: var(--primary-green);
    width: 32px;
    border-radius: var(--radius-capsule);
}

.article-slider-mobile:has(input[value="1"]:checked) .article-slider-mobile__image-wrapper {
    transform: translateX(calc(2 * (var(--slide-width) + var(--spacing-m))));
}

.article-slider-mobile:has(input[value="1"]:checked) .article-slider-mobile__image-1 {
    transform: rotateY(0deg) scale(1.2);
}

.article-slider-mobile:has(input[value="1"]:checked) .article-slider-mobile__image:nth-child(n+2) {
    transform: perspective(250px) rotateY(-20deg);
}

.article-slider-mobile:has(input[value="2"]:checked) .article-slider-mobile__image-wrapper {
    transform: translateX(calc(var(--slide-width) + var(--spacing-m)));
}

.article-slider-mobile:has(input[value="2"]:checked) .article-slider-mobile__image-2 {
    transform: rotateY(0deg) scale(1.2);
}

.article-slider-mobile:has(input[value="2"]:checked) .article-slider-mobile__image:nth-child(n+3) {
    transform: perspective(250px) rotateY(-20deg);
}

.article-slider-mobile:has(input[value="3"]:checked) .article-slider-mobile__image-wrapper {
    transform: translateX(0);
}

.article-slider-mobile:has(input[value="3"]:checked) .article-slider-mobile__image-3 {
    transform: rotateY(0deg) scale(1.2);
}

.article-slider-mobile:has(input[value="3"]:checked) .article-slider-mobile__image:nth-child(n+4) {
    transform: perspective(250px) rotateY(-20deg);
}

.article-slider-mobile:has(input[value="4"]:checked) .article-slider-mobile__image-wrapper {
    transform: translateX(calc(-1 * (var(--slide-width) + var(--spacing-m))));
}

.article-slider-mobile:has(input[value="4"]:checked) .article-slider-mobile__image-4 {
    transform: rotateY(0deg) scale(1.2);
}

.article-slider-mobile:has(input[value="4"]:checked) .article-slider-mobile__image:nth-child(n+5) {
    transform: perspective(250px) rotateY(-20deg);
}

.article-slider-mobile:has(input[value="5"]:checked) .article-slider-mobile__image-wrapper {
    transform: translateX(calc(-2 * (var(--slide-width) + var(--spacing-m))));
}

.article-slider-mobile:has(input[value="5"]:checked) .article-slider-mobile__image-5 {
    transform: rotateY(0deg) scale(1.2);
}

/* Article Slider - Desktop */

.article-slider-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding-block: var(--spacing-l);
}

.article-slider__image {
    width: 18%;
    height: 80%;
    margin-right: -16px;
    object-fit: cover;

    box-shadow: 0px 4px 3px rgba(3, 7, 18, 0.03),
        0px 14px 11px rgba(3, 7, 18, 0.05),
        0px 32px 24px rgba(3, 7, 18, 0.08);
    border-radius: var(--radius-s);

    transform: perspective(250px) rotateY(20deg);
    transform-origin: center;

    transition: all 250ms ease-in-out;
}

.article-slider__image:hover {
    z-index: 2;
    transform: perspective(250px) rotateY(0deg) scaleX(1.2) scaleY(1.2);
    margin-left: 32px;
    margin-right: 16px;
}

.article-slider__image:hover~.article-slider__image {
    transform: perspective(250px) rotateY(-20deg);
}

.article-content ol {
    padding-left: var(--spacing-m);
}

.article-content ul {
    padding-left: var(--spacing-m);
}

.tips-card {
    position: relative;
    margin-top: var(--spacing-3xl);
}

.tips-card__badge {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    position: absolute;
    top: -60px;
    left: 0;
    background-color: var(--primary-green);
    color: var(--primary-yellow);
    padding: var(--spacing-m);
    border-radius: var(--radius-s);
    transform: rotate(-10deg);
}

.tips-card__badge img {
    width: 32px;
    transform: rotate(10deg);
}

.tips-card a {
    color: var(--primary-green);
    font-weight: bold;
}

.article-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    margin-top: var(--spacing-l);
    max-width: 290px;
    font-family: var(--font-secondary);
    font-weight: bold;
    gap: var(--spacing-2xl);
    padding-bottom: var(--spacing-xl);
}

.article-footer__button {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

.article-footer>img {
    position: absolute;
    transform: translateY(75%);
    left: 0;
    width: 40px;
}

.article-content__video {
    height: 180px;
    max-width: 90%;
    align-self: center;
    border-radius: var(--radius-xl);
}

/* ============================== Media Queries ========================== */

@media screen and (max-width: 767px) {
    .site-header {
        justify-content: center;
    }

    .main-nav {
        display: none;
    }

    .site-footer {
        padding-bottom: calc(85px + var(--spacing-m));
    }

    .footer-wrapper-left {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer-wrapper-left-links {
        flex-direction: column;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .site-header {
        padding-inline: var(--spacing-xl);
    }

    .hero-section-box {
        padding-inline: var(--spacing-xl);
    }

    .content-section {
        padding-inline: var(--spacing-xl);
    }

    .site-footer {
        padding-inline: var(--spacing-xl);
    }

    .mobile-nav {
        padding-inline: var(--spacing-xl);
    }

    .main-article {
        padding-inline: var(--spacing-xl);
    }

    .article-content__ol-wrapper {
        padding-inline: var(--spacing-xl);
    }

    .article-content__ul-wrapper {
        padding-inline: var(--spacing-xl);
    }

    .tips-card {
        margin-inline: var(--spacing-xl);
        margin-bottom: var(--spacing-l);
    }

    .article-content__video {
        height: 250px;
        width: 100%;
        margin-block: var(--spacing-l);
    }
}

@media screen and (min-width: 768px) {
    .site-header {
        padding-inline: var(--max-content-padding);
    }

    .hero-section-box {
        padding-inline: var(--max-content-padding);
    }

    .content-section {
        padding-inline: var(--max-content-padding);
    }

    main {
        padding-bottom: unset;
    }

    .mobile-nav {
        display: none;
    }

    .contact-section {
        padding-bottom: var(--spacing-2xl);
    }

    .contact-form {
        gap: var(--spacing-l);
    }

    .contact-form-row {
        gap: var(--spacing-l);
    }

    .site-footer {
        padding-block: var(--spacing-l);
        padding-inline: var(--max-content-padding);
    }

    .footer-wrapper-left {
        gap: var(--spacing-l);
    }

    .footer-wrapper-left-links {
        gap: var(--spacing-l);
    }

    .main-article {
        padding-block: var(--spacing-2xl);
        padding-inline: var(--max-content-padding);
    }

    .article-header {
        flex-direction: row;
    }

    .article-header__left-wrapper {
        justify-content: space-between;
    }

    .article-header__left-wrapper>p {
        font-size: 1.5rem;
    }

    .header-intro {
        font-size: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    .author-card {
        min-width: 35%;
    }

    .heading-s {
        font-size: 2rem;
    }

    .article-content__ol-wrapper {
        padding-inline: var(--spacing-2xl);
    }

    .article-content__ul-wrapper {
        padding-inline: var(--spacing-2xl);
    }

    .tips-card {
        margin-inline: var(--spacing-2xl);
        margin-bottom: var(--spacing-l);
    }

    .article-content__video {
        height: 350px;
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .subheadline {
        display: none;
    }

    .article-slider-desktop {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .contact-form {
        gap: var(--spacing-xl);
    }

    .contact-form-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-form-row label {
        width: 100%;
    }

    .contact-form-privacy-row {
        justify-content: center;
    }

    .article-slider-mobile {
        display: none;
    }

    .site-footer {
        padding-block: var(--spacing-xl);
    }
}