* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100dvh;
    font-family: var(--font-main);
}

h1 {
    font-family: var(--font-secondary);
    color: var(--primary-yellow);
    font-size: 3rem;
}

h2 {
    font-family: var(--font-secondary);
    color: var(--primary-green);
    font-size: 2rem;
}

h3 {
    color: var(--secondary-brown);
    font-size: 1.5rem;
}

h4 {
    color: var(--primary-green);
    font-size: 1rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}